doctype html
html(lang='en')

    head

        title Farmington Gardens - Photos

        include includes/head

        script(src='js/bootstrap.min.js')

    body

        include includes/header

        include includes/navbar

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Blended to Perfection
                                span.section-heading-lower Coffees & Teas
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/products-01.jpg' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Delicious Treats, Good Eats
                                span.section-heading-lower Bakery & Kitchen
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/products-02.jpg' alt='...')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Our seasonal menu features delicious snacks, baked goods, and even full meals perfect for breakfast or lunchtime. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper From Around the World
                                span.section-heading-lower Bulk Speciality Blends
                    .product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0
                        #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='assets/img/flowers/0_268981_136505763095980_3005801_n.jpg' alt='...')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/flowers/1_268977_136505386429351_5989508_n.jpg' alt='...')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/flowers/2_269881_136506226429267_1259136_n.jpg' alt='...')
                            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Travelling the world for the very best quality coffee is something take pride in. When you visit us, you'll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.

        include includes/footer

        include includes/scripts
